/* 
    Document   : index
    Created on : 04/02/2014, 14:22:20
    Author     : Cristian
    Description:
        Purpose of the stylesheet follows.
*/

html{
    margin: 0 0 0 0;
    height: 100%;
}

body{
    margin: 0 0 0 0;
    background-image: url('../../css/start/images/wallpaper.jpg');
    background-size: 100% 100%;
}

#navigator{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    top: 0px;
}

#navigator-style{
    background-color: #373737;
    width: 100%;
    height: 60px;
}

#navigator-content{
    font-family: cursive;
    font-size: 18px;
    color: white;
    float: right;
    margin-top: 18px;
    margin-right: 10px;
}


.menu-sup{
    display: inline-block;
    font-family: cursive;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 15px;
}

.menu-sup:hover{
    display: inline-block;
    font-family: cursive;
    font-size: 30px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
}


#div-content{
    margin: 60px auto 10px auto;
    width: 90%;
    height: auto;
    background-image: url('../img/opacity.png');
    background-repeat: repeat;
    border-radius: 10px;
}

#lgn-status{
    color: red;
    font-weight: bold;
    margin: auto;
    display:none;
    font-family: cursive;
}

.ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: cursive;
}

.img:hover{
    opacity: 1;
    cursor: pointer;
}

.img{
    opacity: 0.8;
    margin-left: 20px;
}

.op-lateral{
    background-color: #cdd5da;
    width: 300px;
    height: 60px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
}

.nomes{
    font-family: cursive;
    font-size: 22px;
    margin-left: 35%;
}