
/* 
    Created on : 29/01/2014, 15:34:09
    Author     : Felipe
*/
html{
    overflow: hidden;
}

.ui-widget-header{
    border: 1px solid #000000;
    background: #000000;
}

/*#start{
    border-radius: 3px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}*/

#ver{
/*    border-radius: 3px;
    width: 100px;
    height: 30px;*/
    margin-left: 40%;
    margin-right: 30px;
    margin-top: 10px;
}

table{
    margin: 30px auto auto auto;
}
.input{
    width: 100%;
    border-radius: 10px;
    height: 30px;
    margin-top: 10px;
}
#teste{
    font-family: cursive;
    font-size: 14px;
    color: white;
    float: left;
    margin-top: 40px;
    margin-left: 65px;
}
#mobo{
    background-image: url('../img/placa.png');
    background-size: 640px 480px;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    width: 640px;
    height: 480px;
    /*margin: 10px auto 50px auto;*/
}
.area{
    border: 2px solid transparent;
    border-radius: 7px;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition:.7s;
    cursor: pointer;
}
.area:hover{
    background-color: rgba(255,0,0, 0.5);
}

#socket{
    margin-left: 473px;
    margin-top: 159px;
    width: 100px;
    height: 103px;
}


#chipsetnorte{
    margin-left: 331px;
    margin-top: -55px;
    width: 83px;
    height: 82px;
}
#pciexpress{
    margin-left: 250px;
    margin-top: -218px;
    width: 15px;
    height: 207px;
}
#sata{
    margin-left: 141px;
    margin-top: -64px;
    width: 22px;
    height: 63px;
}
#bateria{
    margin-left: 173px;
    margin-top: 96px;
    width: 40px;
    height: 38px;
    border-radius: 25px;
}
#memoria{
    margin-left: 307px;
    margin-top: -100px;
    width: 303px;
    height: 31px;
}
#pci{
    margin-left: 123px;
    margin-top: -278px;
    width: 17px;
    height: 157px;
}
#chipsetsul{
    margin-left: 141px;
    margin-top: 45px;
    width: 68px;
    height: 57px;
}
#ide{             
    margin-left: 92px;
    width: 16px;
    height: 110px;
}
#fonte{
    margin-left: 419px;
    margin-top: -26px;
    height: 19px;
    width: 108px;
}
#explicacao{
    display: none;
    border-radius: 10px;
    background-color: whitesmoke;
    color:#000;
    padding:20px;
    min-width:640px;
    min-height: 480px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

td{
    vertical-align: top;
}

.imglateraldir{
    width: 100px;
    height: 100px;
    margin: 0 0 0 15px;
}
.imglateralesq{
    width: 100px;
    height: 100px;
    margin: 0 15px 0 0;
}

/*Balão onde coloca o nome do componente */
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
}
.ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
    max-width: 1000px;
}
.arrow {
    width: 700px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}
.arrow.top {
    top: -16px;
    bottom: auto;
}
.arrow.left {
    left: 20%;
}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}
.arrow.top:after {
    bottom: -20px;
    top: auto;
}

