/* 
    Document   : index
    Created on : 09/01/2014, 14:22:20
    Author     : Cristian
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../css-menulat/websymbols/websymbols-regular-webfont.eot');
    src: url('../css-menulat/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css-menulat/websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('../css-menulat/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('../css-menulat/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
    margin: 0 0 0 0;
    height: 100%;
}

#principal{
	margin-left: auto;
	margin-right: auto;
	width: 70em;
	height: 43em;
	border: 20px solid white; 
	background-color: rgba(237, 237, 237, 0.7);
}

body  { 
    margin: 0 0 0 0;
    background-image: url('../logado/img/wallpaper.jpg');
    background-size: 100% 100%;
    overflow: hidden;
    color: black; 
}

#logout{
	cursor: pointer;
}

.logo {
            background: url('logo2.png') no-repeat;
            
            background-size: 35px;
            height: 35px;
            width: 35px;
            left: 0px;
            right: 0;
            top: 0;
            z-index: 8000;
            display: block;
            margin-top: 3px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: auto;
            position: absolute;
            border:0;
}

#navigation {
    background: #000000;
    width: auto;
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);

}

#navigation ul {
    list-style: none;
    margin:0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
    
}

#navigation ul:after {
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

#navigation ul li.welcome {
    color: #faf5f5;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    float: right;
}

#navigation ul li {
    float: left;
    display: block;
    padding: 0;
}


#navigation ul li a {
    color: #faf5f5;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}


#navigation ul li a:hover {
    color: #5a92d6;
}


#navigation ul li a:hover:before {
    width: 100%;
}


#navigation ul li a:after {
    content: '';
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #faf5f5;
    opacity: .5;
}


#navigation ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #5a92d6;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}


#navigation ul li.last > a:after,
#navigation ul li:last-child > a:after {
    display: none;
}


#navigation ul li.active a {
    color: #5a92d6;
}


#navigation ul li.active a:before {
    width: 100%;
}


@media screen and (max-width: 768px) {
    #navigation ul li {
        float: none;
    }


    #navigation ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }


    #navigation ul li a:after {
        display: none;
    }


      #navigation ul li a:before {
        height: 1px;
        background: #faf5f5;
        width: 100%;
        opacity: .2;
      }


    #navigation ul li.last > a:before,
    #navigation ul li:last-child > a:before {
        display: none;
    }
}    



#content{
    font-family: 'Terminal Dosis', Arial, sans-serif;
    float:left;
    margin:10px auto auto 10px;
}

#header {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%; 
    height: auto;
    width: auto;
    margin-top:0px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

#header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}

#header ul li {
    display: block;
    padding: 0;
}

#header ul li p{
    color: white;
    display: block;
    padding: 30px 50px;
    margin:auto;
    font-size: 25px;
    position: relative;
    text-align: center;
}

#header ul li p:after
{
    content: ' ';
    display: block;
    width: 50%;
    height: 2px;
    margin-top: 10px;
    margin-left: 25%;
    background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}
#about {
    display: block;
    height: 80%;
    width: 1070px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
}



.clearfix:after { 
    content: "."; 
    display: block; 
    clear: both; 
    visibility: hidden; 
    line-height: 0; 
    height: 0; 
}


#center { 
    display: block; 
    width: 560px; 
    overflow: hidden;
    margin: auto;
}

#userStats { 
    display: block; 
    width: auto; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    padding: 12px; 
}

#userStats .pic { 
    float: left; 
    display: block; 
    margin-right: 10px; 
}
#userStats .pic a img { 
    padding: 7px; 
    background: #fff; 
    border: 1px solid #ccc; 
}

#userStats .data { 
    float: left; 
    display: block; 
    position:  relative; 
    width: 350px; 
    height: 166px; 
    padding: 4px; 
    padding-left: 15px; 
    background: #e6e6e6; 
    overflow:  hidden; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
}

.sep { 
    clear: both; 
    margin-top: 10px; 
    width: 320px; 
    height: 1px; 
    border-bottom: 1px 
    solid #ccc; 
    margin-bottom: 0; 
}
#userStats .data ul.numbers { 
    list-style: none; 
    width: 320px; 
    padding-top: 7px; 
    margin-top: 0; 
    border-top: 1px solid #fff; 
    color: #676767; 
}
#userStats .data ul.numbers li { 
    width: 95px; 
    float: left; 
    display: block; 
    padding-left: 8px; 
    height: 50px; 
    border-right: 1px dotted #bbb; 
    text-transform: uppercase; 
}
#userStats .data ul.numbers li strong { 
    color: #434343; 
    display: block; 
    font-size: 3.4em; 
    line-height: 1.1em; 
    font-weight: bold; 
}

#center h1 { 
    font-family: 'Josefin Slab' ,Helvetica, Arial, Verdana, sans-serif; 
    color: #444; 
    font-weight: bold; 
    font-size: 1.2em; 
    line-height: 2.0em; 
}


 #container #blue {
    float: left;
    -webkit-box-shadow: 3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    width: 350px;
    height: 200px;
    background-color: rgba(132,171,177,0.5);
    margin-top: 30px;
    text-align: center;
}


#container #red { 
    float: left;
    -webkit-box-shadow: 3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    width: 350px;
    height: 200px;
    background-color: rgba(194,114,79,0.5);
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
}

#container #green { 
    float: left;
    -webkit-box-shadow: 3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    width: 350px;
    height: 200px;
    background-color: rgba(169,154,73,0.5);
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
}

#container #white {
    float: left;
    -webkit-box-shadow: 3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 0px 6px 0px rgba(50, 50, 50, 0.75);
    width: 1070px;
    height: 100px;
    background-color: rgba(255,255,255,0.5);
    margin-top: 30px;
    text-align: center;
}

#container #blue h1{
   font-family: 'Alegreya Sans SC', sans-serif;
   font-size: 40px; 
   margin-top: 40px;
}

#container #blue h3{
   font-size: 20px; 
}

#container #blue h4{
   font-size: 20px; 
}

#container #red h1{
   font-family: 'Alegreya Sans SC', sans-serif;
   font-size: 40px; 
   margin-top: 40px;
}

#container #red h3{
   font-size: 20px; 
}

#container #red h4{
   font-size: 20px; 
}

#container #white h1{
   font-family: 'Alegreya Sans SC', sans-serif;
   font-size: 23px; 
   margin-top: 18px;
}

#container #white h3{
   font-size: 20px; 
}

#container #green h1{
   font-family: 'Alegreya Sans SC', sans-serif;
   font-size: 23px; 
   margin-top: 40px;
}

#container #green h3{
   font-size: 20px; 
}

#container #greem h4{
   font-size: 20px; 
}